termProject.sta.rpt
termProject.sof
termProject.qsf.bak
termProject.qsf
termProject.qpf
termProject.pin
termProject.map.summary
termProject.map.rpt
termProject.flow.rpt
termProject.fit.summary
termProject.fit.rpt
db/termProject.sta.rdb
db/termProject.sta.qmsg
db/termProject.smart_action.txt
db/termProject.sld_design_entry_dsc.sci
db/termProject.sld_design_entry.sci
db/termProject.sgdiff.hdb
db/termProject.sgdiff.cdb
db/termProject.sgate_sm.rvd
db/termProject.sgate.rvd
db/termProject.rtlv_sg_swap.cdb
db/termProject.rtlv_sg.cdb
db/termProject.rtlv.hdb
db/termProject.map.ecobp
db/termProject.map.cdb
db/termProject.map.bpm
db/termProject.cuda_io_sim_cache.45um_ii_1200mv_85c_slow.hsd
db/termProject.cuda_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/termProject.cmp_merge.kpt
db/termProject.cmp.rdb
db/termProject.cmp.logdb
db/termProject.cmp.kpt
db/termProject.cmp.hdb
db/termProject.cmp.ecobp
db/termProject.cmp.cdb
db/termProject.cmp.bpm
db/termProject.cbx.xml
db/termProject.asm_labs.ddb
db/termProject.asm.rdb
db/termProject.asm.qmsg
db/termProject.(0).cnf.hdb
db/termProject.(0).cnf.cdb
db/prev_cmp_termProject.sta.qmsg
db/prev_cmp_termProject.qmsg
db/prev_cmp_termProject.map.qmsg
db/prev_cmp_termProject.fit.qmsg
db/prev_cmp_termProject.asm.qmsg
db/logic_util_heursitic.dat
termProject.dpf
termProject.done
termProject.cdf
termProject.asm.rpt
incremental_db/compiled_partitions/termProject.root_partition.map.kpt
incremental_db/compiled_partitions/termProject.root_partition.map.hdb
incremental_db/compiled_partitions/termProject.root_partition.map.dpi
incremental_db/compiled_partitions/termProject.root_partition.map.cdb
incremental_db/compiled_partitions/termProject.root_partition.cmp.re.rcfdb
incremental_db/compiled_partitions/termProject.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/termProject.root_partition.cmp.logdb
db/termProject.rpp.qmsg
db/termProject.pre_map.hdb
db/termProject.pre_map.cdb
db/termProject.map_bb.logdb
db/termProject.map_bb.hdb
db/termProject.map_bb.cdb
db/termProject.map.qmsg
db/termProject.map.logdb
db/termProject.lpc.txt
db/termProject.lpc.rdb
db/termProject.lpc.html
db/termProject.hif
db/termProject.hier_info
db/termProject.fit.qmsg
db/termProject.db_info
termProject.v.bak
termProject.sta.summary
incremental_db/compiled_partitions/termProject.root_partition.cmp.kpt
incremental_db/compiled_partitions/termProject.root_partition.cmp.hdb
incremental_db/compiled_partitions/termProject.root_partition.cmp.dfp
incremental_db/compiled_partitions/termProject.root_partition.cmp.cdb
incremental_db/README
db/termProject.tiscmp.slow_1200mv_85c.ddb
db/termProject.tiscmp.slow_1200mv_0c.ddb
db/termProject.tiscmp.fast_1200mv_0c.ddb
db/termProject.tis_db_list.ddb
db/termProject.syn_hier_info
db/termProject.sta_cmp.7_slow_1200mv_85c.tdb
db/termProject.map.kpt
db/termProject.map.hdb
db/termProject.eco.cdb
termProject.map.smsg
db/termProject.(2).cnf.cdb
db/termProject.(1).cnf.cdb
db/termProject.(1).cnf.hdb
db/termProject.(2).cnf.hdb
